/* The Modal (background) */
.keeps-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent;
}

/* Modal Content/Box */
.keeps-modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;

    background-color: rgba(250, 250, 250, 0.5);
    width: 70%;
    border-radius: 15px;
}

.keeps-history-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.keeps-history-list li {
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;

    display: block;

    color: rgba(0,0,0,.54);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}

.keeps-history-list li.keeps-selected-history-item {
    font-size: 38px;
    line-height: 60px;
    color: rgba(0,0,0,.87);
}